@media(min-width:1600px) {
    .container-fluid {
        padding: 0 100px;
    }
}

@media (min-width:1400px) {
    .serch-box>div {
        padding: 0 0 0 70px;
    }

    .col-xxl-cust5 {
        flex: 0 0 auto;
        width: 20%;
    }
}

@media(min-width:1200px) {
    .position-xl-sticky {
        position: sticky;
    }
}

@media(min-width:992px) {}

@media(min-width:576px) {

    /* .modal-dialog {
        max-width: 545px;
    } */
    .modal-small,
    .modal-dialog.modal-manning {
        max-width: 545px;
        /* width: 96%; */
    }
}

@media(max-width:1750px) {}

@media(max-width:1750px) and (min-width:1200px) {}


@media(max-width:1679px) {}

@media(max-width:1599px) {
    .container-fluid {
        padding: 0 60px;
    }

    .brand-logo {
        max-width: 200px;
        display: inline-block;
    }


}

@media(max-width:1499px) {}

@media (max-width:1399px) {
    .card {
        padding: 20px 16px;
    }

    .brand-logo {
        max-width: 145px;
    }

    .navcarosel-box {
        max-width: 560px;
    }

    .serch-box {
        top: 88px;
    }


}

@media (max-width:1400px) and (min-width:1200px) {
    .accordion-innerbox>p {
        font-size: 16px;
    }

    .accordion-innerbox>span {
        font-size: 14px;
    }

    .accordion-innerbox .badge {
        font-size: 12px;
    }

    .btn {
        padding: 12px 18px;
    }

    .budget-accordion .accordion-button .lable-budget {
        font-size: 16px;
    }

    .card-title h3 {
        font-size: 16px;
    }

    .fs-18 {
        font-size: 16px;
    }

    .accordion-innerbox:not(:last-of-type) {
        margin-bottom: 18px;
    }
}

@media(max-width:1199px) {
    .login-hedding.page-hedding h1 {
        font-size: calc(1.175rem + 2.1vw);
    }

    .container-fluid {
        padding: 0 30px;
    }

    .navcarosel-box {
        max-width: 408px;
    }

    .top-navbar .navbar-nav .nav-item {
        margin-left: 8px;
    }

    .card-hod {
        padding: 17px 20px;
    }

    .modal .card {
        padding: 20px 20px;
    }

}

@media(max-width:991px) {
    .dashboard-boxcard {
        padding: 18px 18px 18px;
    }

    /* .card {
        padding: 18px;
    } */

    .p-20 {
        padding: 18px !important;
    }

    .navcarosel-box {
        max-width: calc(100vw - 242px);
        display: none;
    }

    .navcarosel-box .dropdown-toggle {
        font-size: 12px;
    }

    .btn {
        padding: 12px 24px;
    }

    .serch-box>div {
        padding: 16px;
    }

    .serch-box .serch-icon {
        height: 44px;
        width: 44px;
    }

    .serch-box input {
        height: 48px;
    }

    .serch-box {
        /* top: 140px; */
        top: 95px;
    }

    .serch-box {
        height: 70px;
    }



    .modal .card {
        padding: 20px 16px;
    }

    .table-respond th:first-child {
        min-width: 190px;
    }

    div#card-todoList {
        height: 465px !important;
    }

    .profile-img-box {
        width: 120px;
        height: 120px;
        margin-right: 20px;
    }
}

@media (max-width:991px) and (min-width:576px) {}



@media(max-width:767px) {
    .container-fluid {
        padding: 0 8px;
    }

    .page-title h1 {
        font-size: 26px;
    }

    .page-hedding {
        margin: 16px 0 16px;
    }

    .card {
        padding: 16px;
    }

    .card-footer {
        padding: 16px 0 4px;
    }

    .mb-30 {
        margin-bottom: 24px;
    }

    .fs-18,
    .budget-e-box h4 {
        font-size: 16px;
    }

    strong {
        font-size: 26px;
    }

    .login-hedding.page-hedding {
        margin: 30px 0;
    }

    .accordion-innerbox>p {
        font-size: 14px;
    }

    .accordion-innerbox>span {
        font-size: 14px;
    }

    .accordion-innerbox .badge {
        font-size: 12px;
    }

    .btn {
        padding: 8px 18px;
    }

    .btn-sm {
        padding: 7px 12px !important;
    }

    .form-control {
        padding: 10px 12px;
    }

    .card.login-card {
        padding: 30px 20px;
    }

    .budget-accordion .accordion-button .lable-budget {
        font-size: 16px;
    }

    .card-title h3 {
        font-size: 16px;
    }

    .fs-18 {
        font-size: 16px;
    }

    .accordion-innerbox:not(:last-of-type) {
        margin-bottom: 18px;
    }

    .budget-accordion .accordion-button .name {
        font-size: 14px;
    }

    .p-20,
    .accordion-innerbox {
        padding: 12px 16px !important;
    }

    .budget-accordion .accordion-button.collapsed {
        padding: 16px 18px 16px;
    }

    .accordion-body {
        padding: 16px 16px;
    }

    .form-select {
        padding: 8px 30px 8px 12px;
        font-size: 14px;
    }

    .send-m-display {
        padding: 16px;
    }

    .send-reminder-box {
        padding: 12px;
    }

    .carosel-nav-menu .dropdown-item {
        padding: 12px 14px;
        font-size: 12px;
    }

    .accordion-button::after {
        font-size: 16px;
    }

    .card-hod {
        padding: 10px 20px;
    }

    .modal .card {
        padding: 20px 12px;
    }


    .modal-content {
        padding: 0 16px;
    }

    table.dataTable>tbody>tr>td,
    .table tbody td {
        padding: 10px 16px 10px 8px;
    }



    .modal-footer .btn {
        padding: 5px 12px;
    }


    .input-group>i {
        font-size: 16px;
        top: 16px;
        right: 12px;
    }

    .modal-footer {
        padding: 16px 0;
    }



    .table-sendRequestFinal th,
    .table-lable tbody th {
        padding: 8px 10px 8px 0;
    }



    .page-appHedding .btn {
        padding: 8px 12px;
    }

    .page-appHedding .page-title {
        margin-bottom: 5px;
    }



    .table tbody td.p-table {
        padding: 6px 0;
    }





    /* 25-09 */
    .form-radio {
        margin: 0 30px 16px 0;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 46px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .profile-img-box {
        width: 100px;
        height: 100px;
        margin-right: 0px;
    }

    .upload-area h3 {
        font-size: 14px;
    }

    .upload-area span {
        font-size: 12px;
        line-height: 1.2;
    }

    hr.hr-footer {
        margin-bottom: 16px;
    }

    label.form-label {
        line-height: 1.2;
        margin-bottom: 4px;
    }

    .progressbar-wrapper {
        margin-bottom: 24px;
    }

    .progressbar-tab li span {
        display: none;
    }

    .progressbar-tab li:before {
        width: 32px;
        height: 32px;
        font-size: 14px;
    }

    .progressbar-tab li:after {
        top: 16px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        right: 8px;
    }



    .form-radio label::before,
    .form-check .form-check-input {
        width: 18px;
        height: 18px;
        top: 1px;
        margin-top: 1px;
    }

    .form-check .form-check-input {
        margin-left: -26px;
    }

    .form-radio label,
    .form-check .form-radio label {
        padding-left: 26px;
    }

    .form-radio input:checked~label::before {
        border: 6px solid #014653;
    }

    .form-check.form-switch {
        padding-left: 70px;
    }

    .form-check.form-switchTheme .form-check-input {
        width: 60px;
        height: 28px;
        margin-left: -70px;
    }

    .form-check.form-switchTheme .form-check-label {
        line-height: 28px;
    }


}



@media(max-width:575px) {
    .card.login-card {
        padding: 30px 12px;
    }

    .profile-dropdown .img-box {
        max-width: 40px;
    }

    .nav-icon {
        width: 34px;
        height: 34px;
        padding: 10px;
    }

    .navcarosel-box .btn-group {
        width: 100%;
        height: 40px;
    }

    .top-navbar .navbar-nav .nav-item {
        margin-left: 4px;
    }

    .navcarosel-box {
        max-width: calc(100vw - 170px);
    }

    .navcarosel-box .carosel-menu {
        padding: 0 20px;
    }

    .navcarosel-box .slick-prev {
        left: 5px;
    }

    .navcarosel-box .slick-next {
        right: 5px;
    }

    header nav {
        padding: 8px 0;
    }

    .btn {
        padding: 8px 18px;
        font-size: 14px;
    }

    .accordion-innerbox .badge {
        display: block;
        margin-top: 4px;
        font-size: 10px;
        border-radius: 3px;
    }

    .budget-accordion .accordion-button .lable-budget {
        font-size: 14px;
    }

    .accordion-innerbox {
        padding: 8px 12px !important;
    }

    .budget-accordion .accordion-button.collapsed {
        padding: 12px 16px 12px;
    }

    .accordion-innerbox:not(:last-of-type) {
        margin-bottom: 12px;
    }

    .serch-box {
        top: 61px;
    }

    header .toggle-icon label {
        padding: 10px 0;
    }

    .brand-logo {
        max-width: 101px;
    }

    .navigation-box .nav .nav-item .nav-link {
        padding: 18px;
        font-size: 14px;
    }

    .navigation-wrapper {
        width: 275px;
    }

    .navigation-box .dropdown-menu .dropdown-item {
        padding: 16px 18px;
        font-size: 14px;
    }

    header .toggle-icon input[type="checkbox"]:checked~span:nth-of-type(1) {
        transform: rotatez(45deg) translate(10px, 0px);
    }

    .notification-wrapper {
        width: 280px;
    }

    .notification-box {
        padding: 14px 16px;
    }

    .modal-header {
        padding: 16px 0;
    }



    .modal-header h5 {
        font-size: 18px;
    }

    .requestsUser-block {
        flex-wrap: wrap;

    }

    .requestsUser-block>div:first-child {
        width: 100%;
        min-width: auto;
        margin-right: 0;
        padding-left: 0;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-right: 0;
        border-bottom: 1px solid rgb(112 112 112 / 56%);
    }

    .fc-basic-view .fc-day-number,
    .fc-basic-view .fc-week-number {
        padding: 6px 8px;
    }

    .vacanciesGrid-block .heading {
        height: auto !important;
    }

    .page-appHedding .btn {
        font-size: 11px;
        padding: 6px 8px;
    }



}

@media(max-width:424px) {
    .top-navbar .navbar-nav .nav-item {
        margin-left: 4px;
    }

    .nav-icon {
        width: 30px;
        height: 30px;
        padding: 8px;
    }

    .profile-dropdown .img-box {
        max-width: 36px;
    }

    .notification-wrapper {
        right: -150%;
    }

    .table-respond th:first-child {
        min-width: 140px;
    }

}

@media(max-width:374px) {
    .brand-logo {
        max-width: 80px;
    }

    .nav-icon {
        width: 26px;
        height: 26px;
        padding: 6px;
    }
}

@media (max-width:359px) {}